<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <title>{{title}}</title>
</head>
<body>
    <h1>{{title}}</h1>

<form method="POST">
    <fieldset>
        <div class="form-group">
        <label for="status" class="col-2">Status:: </label>
        <input name="status" id="status" placeholder="status"/>
        </div>
    </fieldset>

    <button class="btn btn-primary">Save</button>
</form>
</body>
</html>


